<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="../vendor/jquery/dist/jquery.min.js"></script>
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/index.css">
     
    <link rel="stylesheet" href="../css/sb-admin-2.min.css" rel="stylesheet">
    <link rel="icon" href="../img/ic_sh.png">

</head>
<body>
    
  {% block content %}
    
  {% endblock %}
 
    <!-- Bootstrap core JavaScript-->
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 
    <!-- Core plugin JavaScript-->
    <script src="../vendor/jquery/dist/jquery.min.js"></script>
    <script src="../vendor/jquery-validation/dist/jquery.validate.min.js"></script>
 
    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin-2.min.js"></script>
 
 
    <!-- Page level custom scripts --> 
   
    <script>
        function link(target) {
            window.location.href=target;
        }
        $('#user_logged_id').text('User logged: ')
        
    </script>

    
    

    
</body>
</html>