{% extends "base.html" %}
 
{% block content %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>SISTEMA HOSPITALARIO</title>
</head>
<body>
    <div id="wrapper">

        {% include "sidebar.html" %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column img_bg">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include "topbar.html" %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="display-1 mb-lg-5 text-gray-800">Bienvenido a Sistema Hospitalario</h1>
                    </div>

                    <!-- Content Row -->
                   

                </div>
                <!-- /.container-fluid -->


            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    
    
</body>


</html>
{% endblock %}

