
<div class="container-fluid">
    <p class="h3 mb-2 text-gray-800"><h2>Diagnostico</h2></p>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Registro Diagnostico</h6>
            <p style="text-align:right;"><button type="button" class="btn-success" id="btn_addnew">Agregar Diagnostico</button></p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="medicoTable" class="table table-bordered" width="100%" cellspacing="0">
                    <tr>
                        <th>ID Diagnostico</th>
                        <th>Nombre Paciente</th>
                        <th>Nombre Medico</th>
                        <th>ID Cita</th>
                        <th>Descripcion</th>
                        <th>Medicina</th>
                        <th>Accion</th>
                    </tr>
                </table> 
                
                   
            </div>
        </div>
    </div>
    
    
</div>
<div class="modalContainer" id="Addnewmodal">
    <div class="modal-content">
      <span id="close" class="close">×</span>
      <p style="text-align:center;"><h2>Agregar Nuevo Diagnostico</h2></p>
      <form class="form-detail" action="#" method="post" id="myform">
          <div class="form-group">
              <label>ID:</label> 
              <input type="number" name="txtID" id="txtID" class="form-control" maxlength="6" required placeholder="000000">
          </div>
          <div class="form-group">
              <label>Medico:</label>
              <select class="form-control form-control-sm" name="txtNM" id="txtNM">
              </select>
          </div>
          <div class="form-group">
              <label>Paciente:</label>
              <select class="form-control form-control-sm" name="txtNP" id="txtNP">
            </select>
          </div>
          <div class="form-group">
              <label>ID Cita:</label>
              <input type="text" name="txtIDC" id="txtIDC" class="form-control" required >
          </div>
          <div class="form-group">
              <label>Descripcion:</label>
              <input type="text" name="txtDESC" id="txtDESC" class="form-control" required >
          </div>
          <div class="form-group">
              <label>Medicina:</label>
              <select class="form-control form-control-sm" name="txtMedicina" id="txtMedicina">
              </select>
          </div>
          <div class="form-group form-row-last">
              <input type="submit" name="register" class="btn btn-success" value="Agregar Diagnostico" onclick="agregar_medico();">
          </div>
          <div class="box"><label class="label_input" id="return_register" style="width: 90%;color:green;font-weight:bold;"></label></div>
      </form>
    </div>
</div>
<div class="modalContainer" id="Editmodal">
    <div class="modal-content">
      <span id="close" class="closeEdit">×</span>
      <p style="text-align:center;"><h2>Editar Diagnostico</h2></p>
      <form class="form-detail" action="#" method="post" id="myformEditMed"><input type="hidden" name="med_id" id="m_id" >
            <div class="form-group">
                <label>Medico:</label>
                <select class="form-control form-control-sm" name="edit_NM" id="edit_NM">
                </select>
            </div>
            <div class="form-group">
                <label>Paciente:</label>
                <select class="form-control form-control-sm" name="edit_NP" id="edit_NP">
                </select>
            </div>
          <div class="form-group">
              <label>ID Cita:</label>
              <input type="text" name="edit_IDC" id="edit_IDC" class="form-control" required >
          </div>
          <div class="form-group">
              <label>Descripcion:</label>
              <input type="text" name="edit_DESC" id="edit_DESC" class="form-control" required >
          </div>
          <div class="form-group">
            <label>Medicina:</label>
            <select class="form-control form-control-sm" name="edit_Medicina" id="edit_Medicina">
            </select>
        </div>
          <div class="form-group form-row-last">
              <input type="submit" name="register" class="btn btn-success" value="Actualizar" onclick="actualizar_medico();">
          </div>
          <div class="box"><label class="label_input" id="return_update" style="width: 90%;color:green;font-weight:bold;"></label></div>
      </form>
    </div>
</div>
<div class="modalDelete" id="Delete_modal_medico">
    <div class="modal-content">
      <span id="close" class="closedelete">×</span>
      <p style="text-align:center;"><h2>Borrar Diagnostico</h2></p>
      <p style="text-align:center;"><h3>Estas seguro de eliminar el Diagnostico?</h3></p>
      <div class="form-detail">
      <input type="hidden" name="idvalue" id="idvalue"> 
      <input type="submit" name="btndelete" class="btn-danger" value="Eliminar" onclick="btn_submitdelete($('#idvalue').val());">
      <div class="box"><label class="label_input" id="return_delete" style="width: 90%;color:green;font-weight:bold;"></label></div>
      </div>
    </div>
  </div>
<script type="text/javascript" src="../js/diagnosticos.js"></script>    